<script src="../js/userView.js" type="text/javascript"></script>

<h4 id="userName"></h4>
<a class="waves-effect waves-light btn logout" href="/">Sign Out</a>

<div class="container">
    <h4>Items You Have Lent Out </h4>
        {{#each lentItems}}
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="{{{this.borrower.image}}}" alt="" class="circle">
                    <span class="title">Borrower: {{this.borrower.name}} </span>
                    <p>Item Borrowed: {{this.Item.name}}
                    <br> Due Date: {{this.due_date}}
                    </p>
                    <a href="#!" class="secondary-content delete btn btn-danger">
                    <i class="material-icons">send</i>
                    </a>
                </li>
            </ul>
        {{/each}}
    <a class="waves-effect waves-light btn modal-trigger" href="#addLend">Lend</a>
</div>

<div class="container">
    <h4>Items You Have Borrowed </h4>
    {{#each loanedItems}}
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{{{this.owner.image}}}" alt="" class="circle">
            <span class="title">Lender: {{this.owner.name}} </span>
            <p>Item Borrowed: {{this.Item.name}}
                <br> Due Date: {{this.due_date}}
            </p>
        <a href="#!" class="secondary-content delete">
            <i class="material-icons">send</i>
            </a>
        </li>
    </ul>
    {{/each}}
    <a class="waves-effect waves-light btn modal-trigger" href="#addBorrow">borrow</a>
</div>

<div id="addBorrow" class="modal">
    <div class="modal-content">
        <h4>"Borrow" an item ...</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">thumbs_up_down</i>
                        <select id="itemBorrowed">
                            <option value="" disabled selected>favor, money, thing</option>
                            {{#each Item}}
                                <option value="{{this.id}},{{this.owner_id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="itemBorrowed">the item you may return</label>
                    </div>
                    <div>
                        <a class="btn-large waves-effect waves-light red" href="../additem"><i class="material-icons">add</i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <img src="">
                        <p>the generous and obviously gullible person lending you this item...</p>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input id="dueDate" type="text" class="datepicker">
                        <label for="dueDate">are you sure you want to put a return date?</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat borrow">Add Now</button>
    </div>
</div>

<div id="addLend" class="modal">
    <div class="modal-content">
        <h4>Lend an item that you probably won't get back...</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">thumbs_up_down</i>
                        <select id="itemLent">
                            <option value="" disabled selected>favor, money, thing</option>
                            {{#each Item}}
                                <option value="{{this.id}},{{this.owner_id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="itemLent">item that you might get back ...</label>
                    </div>
                    <div>
                        <a class="btn-large waves-effect waves-light red addItem" href="../additem"><i class="material-icons">add</i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="borrower">
                            <option value="" disabled selected>favor, money, thing</option>
                            {{#each User}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="borrower">lowlife you call a friend that is borrowing this item...</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input id="dueDateLend" type="text" class="datepicker">
                        <label for="dueDateLend">One day in the future that you might get this back</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat lend">Add Now</button>
    </div>
</div>

<br>
<script src="../js/userView.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.modal').modal();
        $('select').material_select();
    });
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });

    var userId = sessionStorage.getItem('id');
    var username = sessionStorage.getItem('username');
    var image = sessionStorage.getItem('image');
    console.log(userId);
    $('#borrowerName').text(username);
    $('#lenderName').text(username);
    $('#userName').text('Hello '+ username)
</script>
